body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fe4949;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9a9a9a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    color: #fff;
  }
  
  p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #fff;
  }
  
  .hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: url('nely.png');
    background-size: cover;
    animation: heartsAnimation 10s linear infinite;
  }
  
  @keyframes heartsAnimation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
  }
  
  img {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: auto;
  }

  audio {
    display: block;
    margin: 20px auto;
  }